<h1>Please, log in!</h1>
<form>
<input name="email" type="text" placeholder="email"></input>
<input name="password" type="password" placeholder="password"></input>
<button>LOG IN</button>
</form>
<img src="pizza2.jpg" alt="pizza">
