
<h1>Please, sign our petition to make PIZZA FREE every Friday all over the city!</h1>
<div class="petition">
    <form method="POST">
        <h3>please add your information:</h3>
        <input type="hidden" name="signature" id="hidsig"></input>
        <input type="hidden" name="_csrf" value="{{csrfToken}}"></input>
        <canvas id="draw" width="400" height="150"></canvas>
        <p>Sign Here!</p>
        <button>SUBMIT</button>
    </form>
    {{#if error}}
        <h4>Please, try again</h4>
    {{/if}}
    <img src="/pizza2.jpg" alt="pizza">
</div>


<!--
req.body
    { firstname : "text from input field"} -->
