
<h1>Please, sign my petition to make PIZZA FREE <br> every Friday all over the city!</h1>
<img src="pizza.png" alt="pizza" width="350px" height="350px">
<div class="petition">
    <form>
        <input placeholder="First Name"></input>
        <input placeholder="Last Name"></input>
        <input type="hidden"></input>
        <canvas id="draw" width="300" height="150"></canvas>
        <button>SUBMIT</button>
    </form>
</div>
