
<h1>Please, sign our petition to make PIZZA FREE every Friday all <br> over the city!</h1>
<img src="pizza2.jpg" alt="pizza">
<div class="petition">
    <form>
        <input placeholder="First Name"></input>
        <input placeholder="Last Name"></input>
        <input type="hidden"></input>
        <canvas id="draw" width="400" height="150"></canvas>
        <p>Sing Here!</p>
        <button>SUBMIT</button>
    </form>
</div>
