
<div class="profile">
    <h1>Please, tell us a bit more about yourself!</h1>
    <form method="POST">
        <h3>please add this information:</h3>
        <input name="age" type="text" placeholder="Age"></input>
        <input name="city" type="text" placeholder="City"></input>
        <input name="url" type="url" placeholder="Homepage"></input>
        <input type="hidden" name="_csrf" value="{{csrfToken}}"></input>
        <button>CONTINUE</button>
    </form>
    <!-- <img src="/pizza2.jpg" alt="pizza"> -->
    {{> pizza}}
</div>
<a id="logout" href="logout">logout</a>
