

<div class="petition">
    <h1>Please, sign up to help us with our petition <br>
        to make PIZZA FREE every Friday all over the city!</h1>
    <form method="POST">
        <h3>please add your information:</h3>
        <input name="firstname" type="text" placeholder="first name"></input>
        <input name="lastname" type="text" placeholder="last name"></input>
        <input name="email" type="text" placeholder="email"></input>
        <input name="password" type="password" placeholder="password"></input>
        <!-- <input type="hidden" name="signature"></input> -->
        <input type="hidden" name="_csrf" value="{{csrfToken}}"></input>
        <br>
        <button>SIGN UP</button>
        <h3>If you are already a member, please <a id="logout" href="login">log in</a></h3>
    </form>
    <!-- <img src="/pizza2.jpg" alt="pizza"> -->
    {{> pizza}}
</div>
