<h1>Thank you very much for signing our petition to make PIZZA FREE every Friday all over the city!</h1>
<!-- show signature here -->
{{#each signature}}
<!-- data:image/png;base64 ???-->
    <img src="{{image}}" alt="signature">
{{/each}}


<a href="/signers"><h2>see all signers</h2></a>
<img src="pizza2.jpg" alt="pizza">
