<div class="petition">
    <h1>Thank you very much for signing our petition <br>
        to make PIZZA FREE every Friday all over the city!</h1>
<!-- show signature here -->
<img src={{image}} alt="signature">
{{#if link}}
    <a href="/signers"><h2>Click here to see the list of signers.</h2></a>
    <a href="/profile/edit"><h2>Click here to edit your profile.</h2></a>
{{/if}}

<form method="POST" action="/signature/delete">
    <input type="hidden" name="_csrf" value="{{csrfToken}}"></input>
    <button>Click here to delete your signature</button>
</form>
</div>
<!-- <img src="/pizza2.jpg" alt="pizza"> -->
