* {
    background-color: #696970;
    box-sizing: border-box;
    font-family: "Trebuchet MS", helvetica;

}

body {
    display: flex
}

input {
    width: 495px;
    height: 50px;
    border: 2px solid darkgrey;
    font-size: 15px;
    background-color: white;
    /* display: flex; */
    display: inline-block;
}


.petition {
    margin-top: 10px;
    /* float: right;
    z-index: 10; */
    margin-left: 30px;
}

#signers {
    display: inline-block;
    position: relative;
    width: 500px;
    height: 100%;
    color: lightgrey;
}

a:link, a:visited, a:hover, a:active {
   color: lightgrey;
   background-color: transparent;
   text-decoration: underline;

}

h1 {
    /* align: center; */
    /* margin-left: 30px;  */
    display: flex;
    text-align: center;
    font-weight: 200;
    color: white;
}

#h2s {
    width: 400px;
}

h3 {
    color: white;

}

p {
    font-size: 23px;
    margin-top: 0;

}

h4 {
    color: red;
    font-size: 30px;

}

#reg {
    width: 400px;
    color: white;
    font-weight: bold;
    margin-left: 350px;
}

#pizza {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    z-index: 9999;
}

#pizza3 {
    object-fit: none;
    /* margin-top: 50px; */
    position: fixed;
    margin-left: 500px;

}

#logout {
    font-size: 25px;
    color: white;
    font-weight: bold;
    float: right;
    margin-right: 16px;

}

#return {
    float: right;
    color: white;
    border: 3px white dashed;
    padding: 10px;

}

#login {
    font-size: 25px;
    color: white;
    font-weight: bold;
}

button {
    background-color: white;
    color: black;
    padding: 8px;
    font-size: 15px;
    border-radius: 15px;
    cursor: pointer;
    border: 2px black solid;
}

.sig {
    background:none!important;
    color:inherit;
    border:none;
    padding:0!important;
    font: inherit;
    /* border-bottom:1px solid #444; */
    cursor: pointer;
    text-decoration: underline;
    color: lightgrey;
}


#draw {
    border: 2px dashed black;
    background-color: #696970;
    color: white;

}


#sigimg {
    border: 2px dashed black;

}
