* {
    background-color: red;
    box-sizing: border-box;
    font-family: trebuchet, helvetica;

}

.petition {
    /* position: fixed; */
    display: flex;
    margin-left: 400px;
    margin-top: 50px;
    align-items: center;

}

h1 {
    align-self: center;
}

img {
    margin-left: 400px;
    margin-top: 50px;
    align-items: center;
}

input {
    background-color: white;
    display: flex;
}


#draw {
    border: 2px dashed black;
    background-color: white;

}
